* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    margin: 0;
    background-image: url("https://wallpaper.dog/large/20494010.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    margin: 0 10%;
    padding-bottom: 100px;
    background-color: rgb(6, 50, 89, .9);
}

header {
    background-color: rgb(6, 50, 89);
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans Unicode';
    font-size: x-large;
    font-style: italic;
    color: rgb(170, 209, 243);
}

nav {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: rgb(235, 184, 179);
}



h2 {
    text-decoration-line: underline;
    font-family: 'Lucida Sans Unicode';
    font-size: larger;
    color: rgb(170, 209, 243);

}


#main {
    padding: 10px;
}

.sinopsis {
    display: flex;
    font-family: sans-serif;
    text-align: justify;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(43, 87, 126);
    border-radius: 10px;
}

.sinopsis>* {
    width: 50%;
}

.sinopsis>p {
    flex-grow: 1;
}

.makotoFoto {
    width: 30%;
    border-radius: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
    /*font-family: 'Lucida Sans Unicode';*/
    font-size: medium;
    color: rgb(14, 71, 121);

}

.filmografia {
    padding: 10px;
}

.filmo {
    display: flex;
    font-family: sans-serif;
    text-align: justify;
    padding: 20px;
    background-color: rgb(43, 87, 126);
    border-radius: 10px;
}

.obrasRecientes {
    padding: 10px;
}

.obrasRecientes>h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
}

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 100%;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .card {
        width: 49%;
    }

    .movies>.card:last-child {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: 32%;
    }
}

.card>h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.movies article {
    padding: 10px;
    font-family: sans-serif;
    background-color: rgb(43, 87, 126);
    border-radius: 10px;
    box-shadow: 1px 1px 12px #000;
}

.movies article h3 {
    text-align: center;
}

.movies article img {
    border-radius: 10px;
    width: 100%
}

/*button {
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: gray;
}*/


.footer {
    background-color: rgb(29, 26, 26);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: whitesmoke;
    font-weight: normal;
    letter-spacing: 2px;
}

.footer li {
    margin-bottom: 3px;
    font-size: .7rem;
}

.footer>h2 {
    color: whitesmoke;
    margin-bottom: 0;
}